html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
table,
div,
ul,
li,
button,
input,
button,
select,
tr,
td,
th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.p-0 {
    padding: 0;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.m-0 {
    margin: 0;
}

.scrolltop .icon {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    line-height: 52px;
}

.scrolltop {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4b85f0;
    color: #fff;
    display: none;
}

/* ******************************************* HEADING TEXT CSS */

.heading-txt h6 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #088331;
}

.heading-txt h5 {
    margin: 0;
    padding-top: 10px;
    color: #818181;
}

/* ************************************************** SOCIAL LINK LEFT SIDE CSS */

.social-link-fixed.sidebar {
    height: auto;
    width: 0px;
    position: fixed;
    right: 50px;
    text-align: center;
    top: 30vh;
    z-index: 999;
}

.social-link-fixed p {
    margin: 0;
    text-align: left;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.social-link-fixed p i {
    font-size: 18px;
    color: #fff;
    margin-right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.social-link-fixed .social {
    margin-left: 6px;
    width: 200px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
}

.social-link-fixed .social:hover {
    margin-left: -150px;
    width: 200px;
}

.social-link-fixed .facebook {
    background-color: #3b5998;
}

.social-link-fixed .twitter {
    background-color: #4099FF;
}

.social-link-fixed .instagram {
    background-color: #833AB4;
}

.social-link-fixed .youtube {
    background-color: #c4302b;
}

.social-link-fixed .linkdin {
    background-color: #0e76a8;
}

.social-link-fixed .telegram {
    background-color: #3689c6;
}

.social-link-fixed .youtube:hover {
    background-color: #E52D27;
}

.social-link-fixed .linkedin:hover {
    background-color: #0976B4;
}


/* **************************************** TOP HEADER SECTION CSS */

.header-section .topheader-section {
    padding: 10px 0;
    background: #62CE86;
}

.header-section .topheader-section .topheader-left {
    margin: 0;
    color: #fff;
}

.header-section .topheader-section .topheader-left span {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.header-section .topheader-section .topheader-left a {
    color: #6f6f6f;
    font-size: 12px;
}

.header-section .topheader-section .topheader-right {
    margin: 0;
    text-align: right;
}

.header-section .topheader-section .topheader-right a:first-child {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
}

.header-section .topheader-section .topheader-right a {
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
    border-left: 1px solid #d9d9d9;
    padding-left: 10px;
}

.header-section .topheader-section .topheader-right a i {
    margin-right: 4px;
}

.header-section .navigation-header {
    padding: 10px 0;
    background-color: #ffffff;
}

.header-section .navigation-header h1 {
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 2px 2px #62ce86;
}

.header-section .navigation-header .logoimg {
    width: 60%;
}

.header-section .navigation-header .topnav {
    overflow: hidden;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-section .navigation-header .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s all;
}

.header-section .navigation-header .topnav a:hover {
    color: #2fad59;
}

.header-section .navigation-header .topnav .logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 10px 3px 10px;
    margin-top: 2px;
    text-decoration: none;
    font-size: 17px;
}

.header-section .navigation-header .topnav .logo img {
    width: 30px;
    height: auto;
}

.header-section .navigation-header .topnav .logo:hover {
    background: transparent;
}

.header-section .navigation-header .topnav button {
    display: none;
}

@media screen and (max-width: 600px) {
    .header-section .navigation-header .topnav a:not(:first-child) {
        display: none;
    }

    .header-section .navigation-header .topnav button.icon {
        background: #d8d8d8;
        float: right;
        display: block;
        padding: 16px 17px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    button.icon:focus,
    button.icon:hover {
        border: 0;
        outline: none;
        background: #b3b3b3;
    }
}

@media screen and (max-width: 600px) {
    .header-section .navigation-header .topnav.responsive {
        position: relative;
    }

    .header-section .navigation-header .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-section .navigation-header .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.header-section .navigation-header.sticky {
    position: fixed;
    right: 0;
    padding: 11px 0;
    border-bottom: 10px solid #ebebeb;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 999;
}


/* *********************************************** BANNER SECTION CSS */

.Sliderbanner-section .img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.Sliderbanner-section .img-fill img {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
    object-fit: cover;
}

.Sliderbanner-section *,
.Sliderbanner-section *:before,
.Sliderbanner-section *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Sliderbanner-section .Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.Sliderbanner-section .blocks-box,
.Sliderbanner-section .slick-slider {
    margin: 0;
    padding: 0 !important;
}

.Sliderbanner-section .slick-slide {
    float: left;
    padding: 0;
}

.Sliderbanner-section .Modern-Slider .item .img-fill {
    height: 84vh;
    background: #000;
}

.Sliderbanner-section .Modern-Slider .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(0 0 0 / 48%);
    line-height: 80vh;
    text-align: center;
}

.Sliderbanner-section .Modern-Slider .item .info>div {
    display: inline-block !important;
    vertical-align: middle;
}

.Sliderbanner-section .Modern-Slider .NextArrow {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #fff;
    z-index: 5;
}

.Sliderbanner-section .Modern-Slider .NextArrow:before {
    content: "\f105";
}

.Sliderbanner-section .Modern-Slider .PrevArrow {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #fff;
    z-index: 5;
}

.Sliderbanner-section .Modern-Slider .PrevArrow:before {
    content: "\f104";
}

.Sliderbanner-section .Modern-Slider .slick-dots {
    position: absolute;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.Sliderbanner-section .Modern-Slider .slick-dots li button {
    display: none;
}

.Sliderbanner-section .Modern-Slider .slick-dots li {
    float: left;
    width: 0px;
    height: 5px;
    background: #62ce86;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.Sliderbanner-section .Modern-Slider .slick-dots li.slick-active {
    width: 100%;
    animation: ProgressDots 11s both;
}

.Sliderbanner-section .Modern-Slider .item h3 {
    color: #fff;
    animation: fadeOutRight 1s both;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.Sliderbanner-section .Modern-Slider .item h5 {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
    font-size: 16px;
    width: 64%;
    margin: 18px auto 0;
    line-height: 26px;
    font-weight: 500;
}

.Sliderbanner-section .Modern-Slider .item.slick-active h3 {
    animation: fadeInDown 1s both 1s;
}

.Sliderbanner-section .Modern-Slider .item.slick-active h5 {
    animation: fadeInLeft 1s both 1.5s;
}

.Sliderbanner-section .Modern-Slider .item.slick-active {
    animation: Slick-FastSwipeIn 1s both;
}

.Sliderbanner-section .Modern-Slider {
    background: #000;
}

.Sliderbanner-section .Modern-Slider .item h5 a {
    background-color: #1e9b48;
    color: #fff;
    padding: 14px 30px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 45%;
    border-radius: 10px;
}

.Sliderbanner-section .Modern-Slider .item h5 a:hover {
    background-color: #80eea4;
}

/* ==== Slider Image Transition === */

@keyframes Slick-FastSwipeIn {
    0% {
        transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
    }
}

@-webkit-keyframes ProgressDots {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@keyframes ProgressDots {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.Sliderbanner-section .slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.Sliderbanner-section .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.Sliderbanner-section .slick-list:focus {
    outline: none;
}

.Sliderbanner-section .slick-list.dragging {
    cursor: hand;
}

.Sliderbanner-section .slick-slider .slick-track,
.Sliderbanner-section .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.Sliderbanner-section .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.Sliderbanner-section .slick-track:before,
.Sliderbanner-section .slick-track:after {
    display: table;
    content: "";
}

.Sliderbanner-section .slick-track:after {
    clear: both;
}

.Sliderbanner-section .slick-loading .slick-track {
    visibility: hidden;
}

.Sliderbanner-section .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.Sliderbanner-section .slick-slide.dragging img {
    pointer-events: none;
}

.Sliderbanner-section .slick-initialized .slick-slide {
    display: block;
}

.Sliderbanner-section .slick-loading .slick-slide {
    visibility: hidden;
}

.Sliderbanner-section .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* about section */
.aboutus-sec {
    padding: 3em 0;
}

.aboutus-sec .images img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.about-content {
    margin-top: 30px;
}

.about-content p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 28px;
}

/* ***************************************** PhotoGallery SECTION CSS */

.PhotoGallery-section {
    padding: 3em 0;
}

.PhotoGallery-section .img-wrapper {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}

.PhotoGallery-section .img-wrapper img {
    width: 100%;
    transition: all ease-in-out 0.4s;
    height: 250px;
    object-fit: cover;
}

.PhotoGallery-section .img-wrapper:hover img {
    transform: scale(1.1);
}

.PhotoGallery-section .img-overlay {
    background: rgb(255 255 255 / 42%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    opacity: 0;
    cursor: pointer;
}

.PhotoGallery-section .img-overlay h4 {
    margin: 0;
    background: rgb(0 0 0 / 59%);
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.PhotoGallery-section .img-overlay i {
    color: #fff;
    font-size: 3em;
}

.PhotoGallery-section #overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.PhotoGallery-section #overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #overlay img {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .PhotoGallery-section #overlay img {
        width: 50%;
    }
}

.PhotoGallery-section #nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    cursor: pointer;
}

.PhotoGallery-section #nextButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #nextButton {
        font-size: 3em;
    }
}

.PhotoGallery-section #prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    cursor: pointer;
}

.PhotoGallery-section #prevButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #prevButton {
        font-size: 3em;
    }
}

.PhotoGallery-section #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

.PhotoGallery-section #exitButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #exitButton {
        font-size: 3em;
    }
}

/* ************************************ FREE DELIVERY SECTION CSS */

.Freedelivery-section {
    padding: 3em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e4e4e4;
}

.Freedelivery-section .Freedelivery-box {
    transition: 0.4s all;
    text-align: center;
}

.Freedelivery-section .Freedelivery-box img {
    width: 20%;
    margin: 0 auto;
}

.Freedelivery-section .Freedelivery-box h4 {
    margin: 0;
    font-weight: 700;
    color: #1b1b1b;
    font-size: 16px;
    margin-top: 10px;
}

.Freedelivery-section .Freedelivery-box p {
    margin: 0;
    padding-top: 8px;
    color: #747474;
    font-size: 13px;
}

/* *************************************** OUR CATEGORIES SECTION CSS */

.ourcategories-section {
    padding: 3em 0 0;
}

.ourcategories-section .ourcategories-box {
    margin-top: 30px;
    text-align: center;
}

.ourcategories-section .ourcategories-box img {
    width: 50%;
}

.ourcategories-section .ourcategories-box h4 {
    margin: 0;
    font-weight: 700;
    color: #535353;
    margin-top: 20px;
    font-size: 14px;
}

/* **************************************** OFFER SECTION CSS */

.offer-section {
    padding: 3em 0;
}

.offer-section .offer-box {
    position: relative;
    padding: 20px;
    z-index: 1;
    background: #000;
    border-radius: 4px;
}

.offer-section .offer-box .offer-boxbg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    left: 0;
    opacity: 0.7;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.offer-section .offer-box h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #bdffbd;
}

.offer-section .offer-box h3 {
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: white;
}

.offer-section .offer-box h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: #d04040;
}

.offer-section .offer-box a {
    background: #2fad59;
    color: #fff;
    padding: 6px 10px;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 4px;
    transition: 0.4s all;
}

.offer-section .offer-box a:hover {
    background: #1e9b48;
}

/* *************************************** TOP PRODUCT SECTION CSS */

.topproduct-section {
    padding: 3em 0;
    background: #edffed;
}

.topproduct-section .topproduct-box {
    background: #fff;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 30px;
    text-align: center;
}

.topproduct-section .topproduct-box img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.topproduct-section .topproduct-box h2 {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.topproduct-section .topproduct-box h3 {
    margin: 0;
    font-size: 14px;
    padding: 10px 0;
}

.topproduct-section .topproduct-box h3 span {
    border: 1px solid #d2d2d2;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 6px;
}

.topproduct-section .topproduct-box h4 {
    margin: 0;
    margin-top: 20px;
    color: #d63232;
    font-size: 22px;
    font-family: sans-serif;
}

.topproduct-section .topproduct-box h4 del {
    color: #7c7c7c;
    font-size: 14px;
    margin-left: 6px;
}

/* ********************************************* CONTACT US SECTION CSS */

.ContactUs-section {
    padding: 3em 0;
    background: whitesmoke;
}

.ContactUs-section h2 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
    color: #088331;
    font-size: 20px;
}

.ContactUs-section .ContactUs-form {
    padding: 40px;
    box-shadow: 0 0 10px 1px #dddddd;
    border-radius: 10px;
    display: flex;
    background: #fff;
    margin-top: 30px;
}

.ContactUs-section .ContactUs-form ul {
    width: 44%;
    margin-right: 20px;
    margin-top: 60px;
}

.ContactUs-section .ContactUs-form ul li {
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.ContactUs-section .ContactUs-form ul li i {
    background: #f8f8f8;
    font-size: 20px;
    color: #088331;
    min-width: 48px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #088331;
    margin-right: 16px;
}

.ContactUs-section .ContactUs-form ul li h3 {
    margin: 0;
    font-size: 16px;
    text-align: left;
}

.ContactUs-section .ContactUs-form ul li h4 {
    margin: 0;
    padding: 6px 0 0;
    font-size: 12px;
    font-weight: 500;
    color: dimgrey;
    line-height: 19px;
}

.ContactUs-section .ContactUs-form ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ContactUs-section .ContactUs-form form {
    padding: 30px 20px;
    box-shadow: 0 0 10px 1px #dddddd;
    border-radius: 10px;
    background: #fff;
    width: 80%;
}

.ContactUs-section .ContactUs-form form h3 {
    text-align: center;
    margin: 0;
    color: #088331;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.ContactUs-section .ContactUs-form form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
}

.ContactUs-section .ContactUs-form form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
}

.ContactUs-section .ContactUs-form form button {
    background: #088331;
    color: #fff;
    border: none;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.4s all;
    border: 1px solid #088331;
}

.ContactUs-section .ContactUs-form form button:hover {
    background: transparent;
    color: #088331;
}

/* *************************************** FOOTER SECTION CSS */

.Footer-section {
    background: #088331;
    text-align: center;
    padding: 3em 0;
    text-align: left;
    opacity: 0.9;
}

.Footer-section h1 {
    color: #fff;
    font-weight: bolder;
    margin: 0;
}

.Footer-section p {
    color: #ebd2d2;
    line-height: 26px;

}

.Footer-section h5 {
    color: #fff;
    line-height: 26px;
}

.Footer-section h3 {
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
}

.Footer-section h2 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}

.Footer-section h6 {
    color: #fff;
    line-height: 30px;
    font-size: 16px;
}

.Footer-section h6 a {
    color: #fff;
    transition: 0.4s all;
    display: block;
    font-size: 14px;
    width: 48%;
    padding: 4px 0;
}

.Footer-section h6 a:hover {
    color: #91f1b1;
    transition: 0.4s all;
}

.Footer-section h6 a:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.Footer-section p a i {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    margin-left: 4px;
    background: transparent;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.Footer-section p a i:hover {
    background-color: #ffffff;
    color: #088331;
    transition: 0.4s all;
}

.Footer-section .Footerflex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
}

.Footer-section .Footerflex-box h5 {
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.Footer-section .Footerflex-box h5 span {
    font-weight: 600;
}

.Footer-section .Footerflex-box h4 {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.Footer-section .Footerflex-box h4 a {
    color: white;
    text-decoration: underline;
}

.Footer-section .Footerflex-box h4 a:hover {
    color: #a6e4ba;
    transition: 0.4s all;
}

.fa-solid,
.fas {
    padding: 0px 10px;
}


@media only screen and (max-width: 600px) {
    .social-link-fixed.sidebar {
        display: none;
    }

    .header-section .topheader-section .topheader-left a {
        display: block;
        text-align: center;
    }

    .header-section .topheader-section .topheader-right {
        text-align: center;
        margin-top: 6px;
        margin-left: 0;
    }

    .header-section .topheader-section .topheader-right a {
        margin-left: 14px;
    }

    .topheader-section .head-txt {
        margin-left: 0px;
        justify-content: center;
    }

    .header-section .navigation-header h1 {
        text-align: center;
    }

    .Sliderbanner-section .Modern-Slider .item .info .banner2txt {
        display: none !important;
    }

    .Sliderbanner-section .Modern-Slider .item .info .banner1txt {
        display: none !important;
    }

    .Sliderbanner-section .Modern-Slider .item .img-fill {
        height: auto;
        width: 100%;
    }

    .header-section .navigation-header .topnav.responsive {
        padding: 0px;
        display: block;
    }

    .Sliderbanner-section .slick-slider {
        margin-top: 0;
    }

    .header-section .navigation-header {
        padding: 14px 0;
    }

    .header-section .navigation-header .topnav {
        position: relative;
        margin-top: 20px;
        background: whitesmoke;
        justify-content: space-between;
        margin-right: 20px;
    }

    .header-section .navigation-header .topnav a {
        font-size: 13px;
        color: rgb(27 163 112);
    }

    .header-section .navigation-header .topnav a:hover {
        color: #525050;
    }

    .header-section .navigation-header h1 {
        font-size: 24px;
    }

    .Sliderbanner-section .img-fill img {
        min-height: 200px;
    }

    .Sliderbanner-section .Modern-Slider .NextArrow,
    .Sliderbanner-section .Modern-Slider .PrevArrow,
    .Sliderbanner-section .Modern-Slider .item h3,
    .Sliderbanner-section .Modern-Slider .item h5 a {
        display: none !important;
    }

    .ContactUs-section .ContactUs-form {
        display: block;
        padding: 20px;
        margin-top: 15px;
    }

    .ContactUs-section .ContactUs-form form {
        width: 100%;
        padding: 30px 5px;
    }

    .ContactUs-section .ContactUs-form ul {
        width: 100%;
        margin-top: 30px;
    }

    .ContactUs-section .ContactUs-form ul li:last-child {
        border-bottom: 2px solid #e8e8e8;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .Footer-section {
        padding: 2em 0;
    }

    .Footer-section h2 {
        text-align: left;
    }

    .Footer-section h6 {
        font-size: 12px;
        text-align: left;
    }

    .Footer-section h3 {
        margin-bottom: 0;
        margin-top: 15px;
    }

    .Footer-section h6 a {
        text-align: left;
        padding: 4px 8px;
    }

    .Footer-section p {
        text-align: left;
    }

    .Footer-section .Footerflex-box {
        display: block;
        text-align: center;
    }

    .Footer-section .Footerflex-box h5 {
        font-size: 12px;
    }

    .Footer-section .Footerflex-box h4 {
        margin-top: 15px;
    }

    .Freedelivery-section .Freedelivery-box {
        margin-bottom: 14px;
    }

    .Freedelivery-section {
        padding: 1em 0;
    }

    .aboutus-sec {
        padding: 0em 0;
    }

    .about-content {
        margin-top: 16px;
    }

    .about-content p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 24px;
    }

    .aboutus-sec .images img {
        object-fit: cover;
    }

    .ourcategories-section {
        padding: 2em 0 0;
    }

    .ourcategories-section .ourcategories-box {
        margin-top: 14px;
    }

    .offer-section {
        padding: 1em 0;
    }

    .offer-section .offer-box {
        margin-bottom: 10px;
    }

    .topproduct-section {
        padding: 1em 0;
    }

    .topproduct-section .topproduct-box {
        margin-top: 18px;
    }

    .PhotoGallery-section .img-wrapper {
        margin-top: 16px;
    }

    .PhotoGallery-section {
        padding: 1em 0;
    }

    .ContactUs-section {
        padding: 1em 0;
    }

    .header-section .topheader-section .topheader-left {
        font-size: 10px;
        text-align: center;
    }

    .header-section .topheader-section .topheader-right a:first-child {
        font-size: 12px;
    }

    .header-section .topheader-section .topheader-right a i {
        margin-right: 0;
    }

    .ourcategories-section .ourcategories-box img {
        width: 40%;
    }
}