html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
table,
div,
ul,
li,
button,
input,
button,
select,
tr,
td,
th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.p-0 {
    padding: 0;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.m-0 {
    margin: 0;
}

.scrolltop .icon {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    line-height: 52px;
}

.scrolltop {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4b85f0;
    color: #fff;
    display: none;
}

.msg-error {
    animation: 0;
    color: #ce0f0f;
    text-align: left;
    margin: 0;
    font-size: 10px;
    margin-bottom: 10px;
}

.success {
    padding: 10px;
    color: green;
    text-align: center;
}

/* ************************************************** SOCIAL LINK LEFT SIDE CSS */

.social-link-fixed.sidebar {
    height: auto;
    width: 0px;
    position: fixed;
    right: 50px;
    text-align: center;
    top: 30vh;
    z-index: 999;
}

.social-link-fixed p {
    margin: 0;
    text-align: left;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.social-link-fixed p i {
    font-size: 18px;
    color: #fff;
    margin-right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.social-link-fixed .social {
    margin-left: 6px;
    width: 200px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
}

.social-link-fixed .social:hover {
    margin-left: -150px;
    width: 200px;
}

.social-link-fixed .facebook {
    background-color: #3b5998;
}

.social-link-fixed .twitter {
    background-color: #4099FF;
}

.social-link-fixed .instagram {
    background-color: #833AB4;
}

.social-link-fixed .youtube {
    background-color: #c4302b;
}

.social-link-fixed .linkdin {
    background-color: #0e76a8;
}

.social-link-fixed .telegram {
    background-color: #3689c6;
}

.social-link-fixed .youtube:hover {
    background-color: #E52D27;
}

.social-link-fixed .linkedin:hover {
    background-color: #0976B4;
}


/* **************************************** TOP HEADER SECTION CSS */

.header-section .topheader-section {
    padding: 10px 0;
    background: #101e5d;
}

.header-section .topheader-section p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.header-section .topheader-section p span {
    margin: 0 10px;
}

.header-section .navigation-header {
    padding: 10px 0;
}

.header-section .navigation-header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: #101e5d;
    padding: 12px 0;
}

.header-section .navigation-header .topnav {
    overflow: hidden;
    background-color: #fff;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-section .navigation-header .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.4s all;
    border-bottom: 4px solid #fff;
}

.header-section .navigation-header .topnav a:hover {
    color: #101e5d;
    border-bottom: 4px solid #101e5d;
}

.header-section .navigation-header .topnav .logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 10px 3px 10px;
    margin-top: 2px;
    text-decoration: none;
    font-size: 17px;
}

.header-section .navigation-header .topnav .logo img {
    width: 30px;
    height: auto;
}

.header-section .navigation-header .topnav .logo:hover {
    background: transparent;
}

.header-section .navigation-header .topnav button {
    display: none;
}

@media screen and (max-width: 600px) {
    .header-section .navigation-header .topnav a:not(:first-child) {
        display: none;
    }

    .header-section .navigation-header .topnav button.icon {
        background: #d8d8d8;
        float: right;
        display: block;
        padding: 16px 17px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    button.icon:focus,
    button.icon:hover {
        border: 0;
        outline: none;
        background: #b3b3b3;
    }
}

@media screen and (max-width: 600px) {
    .header-section .navigation-header .topnav.responsive {
        position: relative;
    }

    .header-section .navigation-header .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-section .navigation-header .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.header-section .navigation-header form {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px 0;
}

.header-section .navigation-header form input {
    border: none;
    outline: none;
    width: 100%;
}

.header-section .navigation-header form i {
    font-size: 14px;
    margin-right: 6px;
    color: #515151;
}

.header-section .navigation-header.sticky {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: 0;
    background: #ffffff;
    z-index: 999;
    padding: 10px 0;
    border-bottom: 2px solid #3f3cf3;
}

.header-section .navigation-header.sticky+.featuredCar-section {
    margin-top: 100px;
}


/* *********************************************** BANNER SECTION CSS */

.Sliderbanner-section .img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.Sliderbanner-section .img-fill img {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
    object-fit: cover;
}

.Sliderbanner-section *,
.Sliderbanner-section *:before,
.Sliderbanner-section *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Sliderbanner-section .Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.Sliderbanner-section .blocks-box,
.Sliderbanner-section .slick-slider {
    margin: 0;
    padding: 0 !important;
}

.Sliderbanner-section .slick-slide {
    float: left;
    padding: 0;
}

.Sliderbanner-section .Modern-Slider .item .img-fill {
    height: 100vh;
    background: #000;
}

.Sliderbanner-section .Modern-Slider .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(0 0 0 / 23%);
    line-height: 60vh;
    text-align: center;
}

.Sliderbanner-section .Modern-Slider .item .info>div {
    display: inline-block !important;
    vertical-align: middle;
}

.Sliderbanner-section .Modern-Slider .NextArrow {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #fff;
    z-index: 5;
}

.Sliderbanner-section .Modern-Slider .NextArrow:before {
    content: "\f105";
}

.Sliderbanner-section .Modern-Slider .PrevArrow {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #fff;
    z-index: 5;
}

.Sliderbanner-section .Modern-Slider .PrevArrow:before {
    content: "\f104";
}

.Sliderbanner-section .Modern-Slider .slick-dots {
    position: absolute;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.Sliderbanner-section .Modern-Slider .slick-dots li button {
    display: none;
}

.Sliderbanner-section .Modern-Slider .slick-dots li {
    float: left;
    width: 0px;
    height: 5px;
    background: #101e5d;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.Sliderbanner-section .Modern-Slider .slick-dots li.slick-active {
    width: 100%;
    animation: ProgressDots 11s both;
}

.Sliderbanner-section .Modern-Slider .item h3 {
    color: #fff;
    animation: fadeOutRight 1s both;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.Sliderbanner-section .Modern-Slider .item h5 {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
    font-size: 16px;
    width: 64%;
    margin: 18px auto 0;
    line-height: 26px;
    font-weight: 500;
}

.Sliderbanner-section .Modern-Slider .item.slick-active h3 {
    animation: fadeInDown 1s both 1s;
}

.Sliderbanner-section .Modern-Slider .item.slick-active h5 {
    animation: fadeInLeft 1s both 1.5s;
}

.Sliderbanner-section .Modern-Slider .item.slick-active {
    animation: Slick-FastSwipeIn 1s both;
}

.Sliderbanner-section .Modern-Slider {
    background: #000;
}


/* ==== Slider Image Transition === */

@keyframes Slick-FastSwipeIn {
    0% {
        transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
    }
}

@-webkit-keyframes ProgressDots {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@keyframes ProgressDots {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.Sliderbanner-section .slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.Sliderbanner-section .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.Sliderbanner-section .slick-list:focus {
    outline: none;
}

.Sliderbanner-section .slick-list.dragging {
    cursor: hand;
}

.Sliderbanner-section .slick-slider .slick-track,
.Sliderbanner-section .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.Sliderbanner-section .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.Sliderbanner-section .slick-track:before,
.Sliderbanner-section .slick-track:after {
    display: table;
    content: "";
}

.Sliderbanner-section .slick-track:after {
    clear: both;
}

.Sliderbanner-section .slick-loading .slick-track {
    visibility: hidden;
}

.Sliderbanner-section .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.Sliderbanner-section .slick-slide.dragging img {
    pointer-events: none;
}

.Sliderbanner-section .slick-initialized .slick-slide {
    display: block;
}

.Sliderbanner-section .slick-loading .slick-slide {
    visibility: hidden;
}

.Sliderbanner-section .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}


/* *********************************** FILTER SECTION CSS */

.filter-section {
    background: #ffb400;
    text-align: center;
    padding: 20px 0;
}

.filter-section form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-section form select {
    font-weight: 600;
    font-size: 12px;
    padding: 16px 50px 16px 20px;
    border: 1px solid #848484;
    outline: none;
    text-align: left;
}

.filter-section form button {
    background: #101e5d;
    font-size: 12px;
    padding: 16px 50px;
    color: #fff;
    border: none;
}


/* ******************************************* FEATURED CAR SECTION CSS */

.featuredCar-section {
    padding: 3em 0;
}

.featuredCar-section h2 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
    color: #101e5d;
    font-size: 20px;
}

.featuredCar-section .featuredCar-box {
    background: #fff;
    padding: 10px 10px 20px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin-bottom: 20px;
    transform: translateY(0);
    transition-duration: 0.3s;
}

.featuredCar-section .featuredCar-box:hover {
    transform: translateY(-8px);
}

.featuredCar-section .featuredCar-box img {
    width: 100%;
}

.featuredCar-section .featuredCar-box h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #101e5d;
    margin-top: 20px;
}

.featuredCar-section .featuredCar-box h4 {
    font-size: 10px;
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    color: #5a5a5a;
}

.featuredCar-section .featuredCar-box ul li {
    font-size: 12px;
    display: inline-flex;
    width: 30%;
    padding: 6px 0px;
}

.featuredCar-section .featuredCar-box ul li i {
    color: #daa422;
    margin-right: 6px;
    margin-top: 5px;
}


/* ****************************************** OUR FACILTIES CSS  */

.facilities-section {
    padding: 3em 0;
    background: whitesmoke;
}

.facilities-section h3 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
    color: #101e5d;
    font-size: 20px;
}

.facilities-section .service-info-2 {
    padding: 30px 20px;
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.9s;
    position: relative;
    border-radius: 4px;
    z-index: 1;
}

.facilities-section .service-info-2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mt-50 {
    margin-top: 50px;
}

.facilities-section .service-info-2:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #101e5d;
}

.facilities-section .service-info-2 h3 {
    margin-bottom: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #343434;
}

.facilities-section .service-info-2 .icon {
    margin: 0 auto 25px;
    border-radius: 50%;
    height: 100px;
    border: 2px dashed #101e5d;
    width: 100px;
    line-height: 100px;
    top: 0;
    font-size: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.facilities-section .service-info-2 .icon i {
    color: #101e5d;
}

.facilities-section .service-info-2:hover .icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.facilities-section .service-info-2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.9s;
    z-index: -1;
}

.facilities-section .service-info-2:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.facilities-section .service-info-2:hover::before {
    height: 100%;
}

.facilities-section .service-info-2:hover .icon {
    border: solid 1px #fff;
    background: #fff;
}

.facilities-section .service-info-2:hover p {
    color: #fff;
}

.facilities-section .service-info-2:hover h3 {
    color: #fff;
}

/* ************************************** ABOUT US SECTION CSS */

.aboutus-section {
    padding: 3em 0;
    background: #f4f6ff;
}

.aboutus-section img {
    width: 100%;
    border-radius: 10px;
}

.aboutus-section .aboutus-details-box {
    text-align: center;
    padding: 6em;
}

.aboutus-section .aboutus-details-box h2 {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    color: #101e5d;
    margin-bottom: 20px;
}

.aboutus-section .aboutus-details-box p {
    margin: 0;
    font-size: 20px;
}

/* ***************************************** PhotoGallery SECTION CSS */

.PhotoGallery-section {
    padding: 3em 0;
}

.PhotoGallery-section .img-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.PhotoGallery-section .img-wrapper img {
    width: 100%;
    transition: all ease-in-out 0.4s;
    height: 250px;
    object-fit: cover;
}

.PhotoGallery-section .img-wrapper:hover img {
    transform: scale(1.1);
}

.PhotoGallery-section .img-overlay {
    background: rgb(255 255 255 / 42%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    opacity: 0;
    cursor: pointer;
}

.PhotoGallery-section .img-overlay h4 {
    margin: 0;
    background: rgb(0 0 0 / 59%);
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.PhotoGallery-section .img-overlay i {
    color: #fff;
    font-size: 3em;
}

.PhotoGallery-section #overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.PhotoGallery-section #overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #overlay img {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .PhotoGallery-section #overlay img {
        width: 50%;
    }
}

.PhotoGallery-section #nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    cursor: pointer;
}

.PhotoGallery-section #nextButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #nextButton {
        font-size: 3em;
    }
}

.PhotoGallery-section #prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    cursor: pointer;
}

.PhotoGallery-section #prevButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #prevButton {
        font-size: 3em;
    }
}

.PhotoGallery-section #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

.PhotoGallery-section #exitButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .PhotoGallery-section #exitButton {
        font-size: 3em;
    }
}

.PhotoGallery-section h3 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
    color: #101e5d;
    font-size: 20px;
}

.PhotoGallery-section h2 span {
    color: #f2a93d;
}

.PhotoGallery-section p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 1em 32em;
    color: #666666;
    margin-bottom: 1em;
}


/* ********************************************* CONTACT US SECTION CSS */

.ContactUs-section {
    padding: 3em 0;
    background: whitesmoke;
}

.ContactUs-section h2 {
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
    color: #101e5d;
    font-size: 20px;
}

.ContactUs-section .ContactUs-form {
    padding: 40px;
    box-shadow: 0 0 10px 1px #dddddd;
    border-radius: 10px;
    display: flex;
    background: #fff;
}

.ContactUs-section .ContactUs-form ul {
    width: 44%;
    margin-right: 20px;
    margin-top: 60px;
}

.ContactUs-section .ContactUs-form ul li {
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.ContactUs-section .ContactUs-form ul li i {
    background: #f8f8f8;
    font-size: 20px;
    color: #101e5d;
    min-width: 48px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #101e5d;
    margin-right: 16px;
}

.ContactUs-section .ContactUs-form ul li h3 {
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: #101e5d;
}

.ContactUs-section .ContactUs-form ul li h4 {
    margin: 0;
    padding: 6px 0 0;
    font-size: 12px;
    font-weight: 500;
    color: #7f8081;
    line-height: 19px;
}

.ContactUs-section .ContactUs-form ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ContactUs-section .ContactUs-form form {
    padding: 30px 20px;
    box-shadow: 0 0 10px 1px #dddddd;
    border-radius: 10px;
    background: #fff;
    width: 80%;
}

.ContactUs-section .ContactUs-form form h3 {
    text-align: center;
    margin: 0;
    color: #101e5d;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.ContactUs-section .ContactUs-form form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
}

.ContactUs-section .ContactUs-form form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
}

.ContactUs-section .ContactUs-form form button {
    background: #101e5d;
    color: #fff;
    border: none;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.4s all;
    border: 1px solid #101e5d;
}

.ContactUs-section .ContactUs-form form button:hover {
    background: transparent;
    color: #101e5d;
}

/* *************************************** FOOTER SECTION CSS */

.Footer-section {
    text-align: center;
    padding: 3em 0;
    text-align: left;
    opacity: 0.9;
}

.Footer-section h1 {
    color: #fff;
    font-weight: bolder;
    margin: 0;
}

.Footer-section p {
    color: #ebd2d2;
    line-height: 26px;
}

.Footer-section h5 {
    color: #fff;
    line-height: 26px;
}

.Footer-section h3 {
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
}

.Footer-section h2 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}

.Footer-section h6 {
    color: #fff;
    line-height: 30px;
    font-size: 16px;
}

.Footer-section h6 a {
    color: #fff;
    transition: 0.4s all;
    display: block;
    font-size: 14px;
    width: 48%;
    padding: 4px 0;
}

.Footer-section h6 a:hover {
    color: #6f87ff;
    transition: 0.4s all;
}

.Footer-section h6 a:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.Footer-section p a i {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    margin-left: 4px;
    background: transparent;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.Footer-section p a i:hover {
    background-color: #6f87ff;
    color: #fff;
    transition: 0.4s all;
}

.Footer-section .Footerflex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
}

.Footer-section .Footerflex-box h5 {
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.Footer-section .Footerflex-box h5 span {
    font-weight: 600;
}

.Footer-section .Footerflex-box h4 {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.Footer-section .Footerflex-box h4 a {
    color: rgb(192, 183, 183);
    text-decoration: underline;
}

.Footer-section .Footerflex-box h4 a:hover {
    color: #3f3cf3;
    transition: 0.4s all;
}

.fa-solid,
.fas {
    padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
    .social-link-fixed.sidebar {
        display: none;
    }

    .header-section .topheader-section .topheader-left a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-section .topheader-section p {
        display: grid;
    }

    .header-section .navigation-header {
        text-align: center;
    }

    .Sliderbanner-section .Modern-Slider .item .info .banner2txt {
        display: none !important;
    }

    .Sliderbanner-section .Modern-Slider .item .info .banner1txt {
        display: none !important;
    }

    .Sliderbanner-section .Modern-Slider .item .img-fill {
        height: auto;
        width: 100%;
    }

    .header-section .navigation-header .topnav.responsive {
        padding: 0px;
        display: block;
    }

    .Sliderbanner-section .slick-slider {
        margin-top: 0;
    }

    .header-section .navigation-header {
        padding: 14px 0;
    }

    .header-section .navigation-header .topnav {
        position: relative;
        margin-top: 20px;
        background: whitesmoke;
        justify-content: space-between;
    }

    .header-section .navigation-header .topnav a {
        font-size: 14px;
    }

    .header-section .navigation-header h1 {
        font-size: 24px;
    }

    .Sliderbanner-section .Modern-Slider .item .img-fill .info {
        display: none;
    }

    .PhotoGallery-section h3 {
        text-align: center;
    }

    .featuredCar-section h2 {
        text-align: center;
    }

    .facilities-section h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .featuredCar-section {
        padding: 1em 0;
    }

    .facilities-section {
        padding: 2em 0;
    }

    .aboutus-section {
        padding: 2em 0;
    }

    .aboutus-section .aboutus-details-box {
        padding: 1em;
    }

    .aboutus-section .aboutus-details-box h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .aboutus-section .aboutus-details-box p {
        font-size: 14px;
        text-align: left;
    }

    .PhotoGallery-section {
        padding: 1em 0;
    }

    .ContactUs-section {
        padding: 1em 0;
    }

    .ContactUs-section h2 {
        text-align: center;
    }

    .ContactUs-section .ContactUs-form {
        display: block;
        padding: 20px;
        margin-top: 0px;
    }

    .ContactUs-section .ContactUs-form form {
        width: 100%;
        padding: 30px 5px;
    }

    .ContactUs-section .ContactUs-form ul {
        width: 100%;
        margin-top: 30px;
    }

    .ContactUs-section .ContactUs-form ul li:last-child {
        border-bottom: 2px solid #e8e8e8;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .Footer-section h2 {
        text-align: left;
    }

    .Footer-section h6 {
        font-size: 12px;
        margin: 20px 0;
        text-align: left;
    }

    .Footer-section h6 a {
        display: inline-block;
        text-align: left;
        padding: 4px 8px;
        margin-bottom: 10px;
    }

    .Footer-section p {
        text-align: left;
    }

    .Footer-section .Footerflex-box {
        display: block;
    }

    .Footer-section .Footerflex-box h5 {
        font-size: 12px;
    }

    .Footer-section .Footerflex-box h4 {
        margin-top: 15px;
    }

    .Footer-section h1 {
        margin-top: -20px;
    }
}